*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blogsContainer{
    border: 1px solid blueviolet;
}
.blogPreview{
    border:1px solid gray;
    background-color: aquamarine;
    margin: 2em;
}