@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #0A192F;
}
.rhs-links{
  display: flex;
  align-items: center;
}
button:hover{
  cursor: pointer;
}
.toggle-button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.bar {
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
.navLinkLeft{
color: #f2f2f2;
font-size: 17px;
padding: 0 1.5em;
}
.navLinkRight {
  color: #f2f2f2;
  font-size: 17px;
}
#logOutLink{
  margin-right: 1.5em;
  margin-left: 3.5em;
}
#createAccountLink{
  border: 1px solid #64FFDA;
  color: #64FFDA;
  padding: 1em;
  border-radius: 2px;
  margin-right: 1.5em;
  margin-left: 3.5em;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  .toggle-button {
    display: flex;
  }
  .rhs-links {
    display: none;
    width: 100%;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .rhs-links {
    flex-direction: column;
    width: 100%;
  }
  .rhs-links .navLinkRight {
    text-align: center;
    margin: 0.5em 0;
  }
  #logInLink{
    margin-bottom: 2em;
  }
  #createAccountLink,#logOutLink{
   margin: auto;
  }
  .rhs-links.active{
    display: flex;
    margin: 3em 0;
  }
}

.homePage{
  background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wJTIwZGVza3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  padding: 5em 1em;
  background-position: bottom;
  background-size: cover;
} 
#blog-name{
  font-size: 2.2rem;
  margin-bottom: 0.3em;
  color: #0A192F;
}
.blog-intro{
  font-size: 1.1rem;
  line-height: 30px;
  color: #0a192d;

}
.section-story{
  background-color: #f4f0f0;

}
.story-container{
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap:30px;
  margin: 0 auto;
  padding: 5em 1em;
}

.story-wrapper{
  margin: 2em 0;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
}
.blogImg{
  width: 100%;
  display: block;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.blogImgModel{
  width: 100%;
  display: block;
}
.story-info{
  line-height: 1.8;
  padding: 15px;
}
.publish-info{
  display: flex;
  color: #757575;
  font-weight: 500;
}
.author-profile{
  display: flex;
  align-items: center;
}
.author-icon{
  font-size: 1.2em;
  margin-right: 0.3em;
}
.seperator{
 margin: 0 0.1em;
}
.story-title{
  font-weight: 600;
  color: #292929;
}
.story-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #757575;
    line-height: 28px;    
    margin-top: 0.8em;
    margin-bottom: 1.8em;

}
.story-model-container{
 padding: 5em 1.5em;
 color: #292929;
 max-width: 500px;
 margin: 0 auto;
 background-color: #FFFFFF;

}

.author-profile{
  display: flex;
  font-size: 1rem;
}
.model-author-icon{
  font-size: 3em;
  margin-right: 0.3em;
  color: #292929;

}
.model-author-date{
  display: flex;
  flex-direction: column;
}
.model-date{
  color: #757575;
  padding-top: 0.2em;
}
.editDeleteCell{
  display: flex;
  justify-content: flex-end;

}
.model-story-title{
  font-size: 2rem;
  text-transform: capitalize;
  padding: 1em 0;
}
.model-blog-img{
  width: 100%;
  display: block;
}
.modelStoryDesc{
   margin: 2em 0;
  font-size: 1.1rem;
  line-height: 35px;  

}
.comment-section{
  color:#232629;
}
.comments-header{
  font-size: 2rem;
  border-bottom: 1.5px solid hsl(210,8%,90%);
  margin-bottom: 1em;
  font-weight: 600;
 
}
.comment-form{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  display: flex;
  padding:1em;
  justify-content: center;
  flex-direction: column;
}
.comment-input{
  border:none;
  width: 100%;
  margin-bottom: 2em;
  font-size: 1rem;
}
.comment-input:focus{
  outline: none;
}
.comment-input::placeholder {
  color:#757575;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.comment-submit{
  background: rgb(26, 137, 23);
  border:none;
  padding: 0.5em 1em;
  color: #f0f2f5;
  font-size: 1rem;
  border-radius: 20px;
}
.comment-wrapper{
  border-bottom: 1.5px solid hsl(210,8%,90%);
  margin: 2em 0;
}
#commentAuthorIcon{
  font-size: 2rem;
  margin-right: 0.3em;
  color: #757575;
}
.comment-info{
  display: flex;
  font-weight: 500;
}
.commentUserDate{
  display: flex;
  flex-direction: column;
}
.comment-time{
  font-size: 0.8rem;
  color: #757575;
}
.comment-text{
  padding: 1em 2.5em;
  font-size: 1rem;
  line-height: 30px;
}
.commentView{
  margin: 0 auto;
  max-width: 1000px;
}
.comment-model{
  margin: 5em 1em;
  padding: 1em;
  min-height: 200px;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editDelGroup{
  margin-bottom: 1em;
}
.commentBtn{
 font-size: 2rem;
}
#edBtn{
  color: rgb(26, 137, 23);
  cursor: pointer;
}
#delBtn{
  color: red;
  cursor: pointer;
}
.commentEditInput{
  padding: 2em;
  width: 80%;
  border-radius: 5px;
  border:1px solid #aaa;

}
.commentEditInput:focus{
 outline: none; 
}
.updateBtn{
  margin: 1.5em 0;
  font-size: 1rem;
  padding: 0.6em 3em;
  border-radius: 5px;
  background-color: rgb(26, 137, 23);
  color: white;
  border:none;
}
#signUpSection,#signInSection{
padding: 5em 1em;
max-width: 500px;
color: #292929;
margin: 0 auto;
}
.form{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding:2em 1em;
  max-width: 400px;
  min-height: 400px;
}
.signUpHeader,.signInHeader{
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
.form label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.form input{
  display: block;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border:1px solid #757575
}
form input:focus{
  outline: none;
}
.form input::placeholder {
  color:#757575;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.form button{
  cursor: pointer;
  border:none;
  background: rgb(26, 137, 23);
  color: white;
  text-transform: uppercase;
  margin-top: 50px;
  width: 100%;
  padding: 15px 0;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 1px;
  font-size: 1rem;
}
.errorMsg,.homePageError{
  font-size: 1.5rem;
  margin-bottom: 1em;
  color: #d00000;
  font-weight: 500;
  text-align: center;
}
.homePageError{
  font-size: 1.5rem;
  margin: 2em 1em;
  font-weight: 500;
  text-align: center;
}
.loader{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  color: #64FFDA;
}
.loaderComment{
  display: flex;
  justify-content: center;
  color: #64FFDA;
}
.loadingComment{
  text-align: center;
  font-size: 2rem;
  font-weight: 600; 
}
.accountSection{
 margin: 5em 0.5em;

}
.accountView{
  background-color: #f0f2f5;
  display: flex;
  padding: 1em;
  margin: auto;
  min-height: 400px;
  flex-direction: column;
  border-radius: 10px;
  color:#292929;
  max-width: 400px;
  align-items: center;
}

.user{
  font-size: 2rem;
  margin-right: 0.3em;
  height: 50px;
  width: 50px;
  background-color:#292929;
  padding: 0.1em;
  border-radius: 50%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-control{
  display: flex;
}

.username{
  font-size: 2rem;
  font-weight: 500;
}
#accountDesc{
 padding: 6em 0;
 font-size: 1.1rem;
 text-align: center;
 color:#757575

}
.logOut{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 4em;
}
.logInAsk{
color: #757575;
font-size: 1.3rem;
text-decoration: underline;

}
.deleteCommentContainer{
 background-color: #f0f2f5;
 padding: 2em;
 height: 100vh;
 line-height: 1.8;
 font-size: 1rem;
 text-align: center;
}
.deleteCommentBtns{
  margin-top: 1em;
}
.btn-cancel,.btn-confirm{
  padding: 0.5em 2em;
  font-size: 1rem;
  border-radius: 25px;
  border:1px solid #232629;
}
.btn-confirm{
  background-color: #d00000;
  color: white;
  border:none;
  padding: 0.6em 2.1em;
  margin-left: 1em;

}
.commentDeletedPage{
  margin: 4em 1em;
  text-align: center;
  line-height: 1.8;
}
.commentDeletedPage h1{
  font-size: 5rem;
}
@media only screen and (min-width: 400px) {
  .homePage{
    padding: 6em 2em;
  } 
  #blog-name{
    font-size: 2.5rem;
  }
  .story-container{
    padding: 5em 2em;
  }
  .seperator{
    margin:0 0.4em;
   }
   .comment-form{
    flex-direction: row;
  }
  .comment-input{
    margin-bottom: 0;
  }
  #signUpSection,#signInSection{
    padding: 5em 2em;
    
    }
    .accountSection{
      margin: 5em 2em;
     }
     .accountView{
       padding: 2em 1em;
     }
 
  
}
@media only screen and (min-width: 468px) {

  #signUpSection,#signInSection{
    padding: 5em 4em;
    
    }
}
@media only screen and (min-width: 554px) {
  #blog-name{
    font-size: 3rem;
  }
  .story-container{
    padding: 6em 6em;
  }
  .story-wrapper{
    margin: 2.5em 0;
  }
  
  .form{
    padding:2em 2em;
  }
}

@media only screen and (min-width: 668px) {
  .story-container{
    padding: 6em 10em;
  
  }
}
@media only screen and (min-width: 768px) {
  #blog-name{
    font-size: 4rem;
  }
  .homePage{
    padding: 8em 4em;
  } 
  .blog-intro{
    line-height: 33px;
    max-width: 70%;
  }
  .story-container{
    padding: 6em 2em;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  .story-model-container{
    padding: 5em 2.5em;
    max-width: 700px;
   }
  .modelStoryDesc{
   margin: 2.5em 0;

 }
}
@media only screen and (min-width: 814px) {
  .story-container{
    padding: 6em 4em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media only screen and (min-width: 936px) {
  .story-container{
    padding: 6em 6em;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .story-info{
    padding: 20px;
  }
  
  
}

@media only screen and (min-width: 1300px) {
  .blog-intro{
    line-height: 33px;
    max-width: 50%;
  }
}
